# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=Cluster0
MONGO_DB=VMA
OHLC_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OHLC_MONGO_DB=trading_bot_db
OHLC_MONGO_COLLECTION_1MIN=OHLC
OHLC_MONGO_COLLECTION_3MIN=OHLC3
OHLC_MONGO_COLLECTION_5MIN=OHLC5

# Internal Dashboard JWT
JWT_SECRET=your_jwt_secret_here

# AngelOne SmartAPI Credentials
ANGEL_API_KEY=your_angel_api_key
ANGEL_CLIENT_ID=your_angel_client_id
ANGEL_MPIN=your_angel_mpin
ANGEL_TOTP_SECRET=your_angel_totp_secret
